<ul class="remote-menu">
  <!-- Hiển thị ngôn ngữ hiện tại -->
  <p>Current Language: {{ currentLanguage }}</p>

  <!-- Thay đổi ngôn ngữ -->
  <button (click)="switchLanguage('en')">{{'shell.english' | translate}}</button>
  <button (click)="switchLanguage('vi')">{{'shell.vietnamese' | translate}}</button>
  <li><a routerLink="/">{{'shell.home' | translate}}</a></li>
  <li><a routerLink="lea">{{'shell.lea' | translate}}</a></li>
  <li><a routerLink="lemf">{{'shell.lemf' | translate}}</a></li>
  <img alt="home" style="width: 50px; height: auto;" src="assets/images/home.jpg" />
</ul>
<router-outlet></router-outlet>
